apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: f6sny-secrets
  namespace: f6sny
spec:
  refreshInterval: "15m"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: f6sny-api-secrets
    creationPolicy: Owner
  data:
    - secretKey: ADMIN_JWT_SECRET
      remoteRef:
        key: f6sny/env-vars
        property: ADMIN_JWT_SECRET
    - secretKey: API_TOKEN_SALT
      remoteRef:
        key: f6sny/env-vars
        property: API_TOKEN_SALT
    - secretKey: APP_KEYS
      remoteRef:
        key: f6sny/env-vars
        property: APP_KEYS
    - secretKey: CDN_ROOT_PATH
      remoteRef:
        key: f6sny/env-vars
        property: CDN_ROOT_PATH
    - secretKey: CDN_URL
      remoteRef:
        key: f6sny/env-vars
        property: CDN_URL
    - secretKey: DATABASE_CLIENT
      remoteRef:
        key: f6sny/env-vars
        property: DATABASE_CLIENT
    - secretKey: DATABASE_HOST
      remoteRef:
        key: f6sny/env-vars
        property: DATABASE_HOST
    - secretKey: DATABASE_NAME
      remoteRef:
        key: f6sny/env-vars
        property: DATABASE_NAME
    - secretKey: DATABASE_PASSWORD
      remoteRef:
        key: f6sny/env-vars
        property: DATABASE_PASSWORD
    - secretKey: DATABASE_PORT
      remoteRef:
        key: f6sny/env-vars
        property: DATABASE_PORT
    - secretKey: DATABASE_SSL
      remoteRef:
        key: f6sny/env-vars
        property: DATABASE_SSL
    - secretKey: DATABASE_USERNAME
      remoteRef:
        key: f6sny/env-vars
        property: DATABASE_USERNAME
    - secretKey: HETZNER_ACCESS_KEY_ID
      remoteRef:
        key: f6sny/env-vars
        property: HETZNER_ACCESS_KEY_ID
    - secretKey: HETZNER_ACCESS_SECRET
      remoteRef:
        key: f6sny/env-vars
        property: HETZNER_ACCESS_SECRET
    - secretKey: HETZNER_ACL
      remoteRef:
        key: f6sny/env-vars
        property: HETZNER_ACL
    - secretKey: HETZNER_BUCKET
      remoteRef:
        key: f6sny/env-vars
        property: HETZNER_BUCKET
    - secretKey: HETZNER_ENDPOINT
      remoteRef:
        key: f6sny/env-vars
        property: HETZNER_ENDPOINT
    - secretKey: HETZNER_REGION
      remoteRef:
        key: f6sny/env-vars
        property: HETZNER_REGION
    - secretKey: HETZNER_SIGNED_URL_EXPIRES
      remoteRef:
        key: f6sny/env-vars
        property: HETZNER_SIGNED_URL_EXPIRES
    - secretKey: HOST
      remoteRef:
        key: f6sny/env-vars
        property: HOST
    - secretKey: JWT_SECRET
      remoteRef:
        key: f6sny/env-vars
        property: JWT_SECRET
    - secretKey: PORT
      remoteRef:
        key: f6sny/env-vars
        property: PORT
    - secretKey: RESEND_API_KEY
      remoteRef:
        key: f6sny/env-vars
        property: RESEND_API_KEY
    - secretKey: STRAPI_ADMIN_CLIENT_URL
      remoteRef:
        key: f6sny/env-vars
        property: STRAPI_ADMIN_CLIENT_URL
    - secretKey: TRANSFER_TOKEN_SALT
      remoteRef:
        key: f6sny/env-vars
        property: TRANSFER_TOKEN_SALT
    - secretKey: URL
      remoteRef:
        key: f6sny/env-vars
        property: URL